@charset "UTF-8";
body { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: 'Roboto Condensed', sans-serif; letter-spacing: 0px; font-size: 13px; color: #000; line-height: 30px; background-color: #f4f4f4; }
h1, h2, h3, h4, h5, h6 { color: #000; margin: 0px 0px 15px 0px; font-weight: 400; font-family: 'Roboto Condensed', sans-serif; }
h1 { font-size: 30px; line-height: 42px; }
h2 { font-size: 24px; line-height: 32px; }
h3 { font-size: 22px; line-height: 30px; }
h4 { font-size: 18px; line-height: 26px; }
h5 { font-size: 14px; font-weight: 400; }
h6 { font-size: 12px; font-weight: 400; }
p { margin: 0 0 24px; line-height: 1.8; }
p:last-child { margin: 0px; }
ul, ol { list-style: none; margin: 0; padding: 0; }
a { text-decoration: none; color: #1c1e1e; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
a:focus, a:hover { text-decoration: none; color: #0056b3; }
sub { bottom: 0em; }
.lead { font-size: 21px; font-weight: 400; line-height: 1.6; font-family: 'Roboto Condensed', sans-serif; color: #1c1e1e; margin-bottom: 30px; }
blockquote { padding: 10px 32px; margin: 0 0 30px; font-size: 17.5px; border-left: 5px solid #fb730f; }
.qoute-icon { }
.blockquote-content { }
.blockquote-text { font-family: 'Roboto Condensed', sans-serif; color: #1c1e1e; font-weight: 400; font-size: 20px; line-height: 1.6; }
.blockquote-author { font-weight: 400; font-size: 14px; text-transform: capitalize; color: #fff; }
strong { color: #1c1e1e; }
hr { border-top: 1px solid #e8ecf0;}

/*-----------------------
    2 Form Elements:
-------------------------*/
label { }
.control-label { font-size: 13px; text-transform: capitalize; color: #3c424b; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 1px; }

.textarea.form-control { }
.required { }
.form-group { margin-bottom: 5px; }
.form-control { font-size: 13px; }
.input-group { position: relative; display: table; border-collapse: separate; }
input[type=checkbox], input[type=radio] { margin: 8px 0 0; margin-top: 1px\9; line-height: normal; }
input::-webkit-input-placeholder {color: #a6a7a8 !important; opacity: 1; }
input:focus::-webkit-input-placeholder {
   opacity:   0;
  transition: 1s ease;
}
textarea::-webkit-input-placeholder { color: #a6a7a8 !important; }
.input-group-addon { background-color: transparent; border: 1px solid #e8ecf0; border-radius: 0px; }
.focus { border: 2px solid #e8ecf0; background-color: #fff; }
.focus:focus { border-color: #e8ecf0; outline: 0; -webkit-box-shadow: none; box-shadow: none; }
.has-success .form-control { border-color: #3c763d; background-color: #fff; box-shadow: none; }
.has-success .form-control:focus { border-color: #3c763d; outline: 0; -webkit-box-shadow: none; box-shadow: none; }
.has-error .form-control { border-color: #a94442; background-color: #fff; box-shadow: none; }
.has-error .form-control:focus { border-color: #a94442; outline: 0; -webkit-box-shadow: none; box-shadow: none; }
.shop-cover {
    margin-top: -10px;
    margin-bottom: 10px;
}
.company-category {
    border-bottom: 1px solid #888;
}
.cc {
    border-bottom: 1px solid #ccc;
    padding: 1px ;
}
.top-head {
    margin-top: 10px;
}
.shop-name {
    position: absolute;
    bottom: -10px;
    left: 195px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}
.pd-10  {
    padding: 10px;
}
/*-------------- align ------------*/

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone { margin: 5px 20px 20px 0; }
.aligncenter, div.aligncenter { display: block; margin: 5px auto 5px auto; }
.alignright { float: right; margin: 0px 0 20px 30px; }
.alignleft { float: left; margin: 0px 20px 0px 0; }
a img.alignright { float: right; margin: 0px 0 30px 30px; }
a img.alignnone { margin: 5px 20px 20px 0; }
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%;    /* Image does not overflow the content area */ padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }

/*-----------------------------------
    3. Buttons 
-----------------------------------*/
.btn { font-size: 15px; font-weight: 700; border-radius: 4px; line-height: 2; border: transparent; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; word-wrap: break-word; white-space: normal !important; }
.btn-lg { padding: 16px 36px; font-size: 16px; }
.btn-sm { padding: 12px 22px; font-size: 12px; }
.btn-xs {font-size: 11px; }
.btn-white { color: #13387c; background: #fff; margin-bottom: -10px; }
.btn-white:hover { background-color: #fff; color: #13387c; }
.btn-white.focus, .btn-white:focus { background-color: #fff; color: #19202b; }
.btn-link { color: #1c1e1e; font-size: 14px; font-weight: 700; letter-spacing: 1.5px; text-transform: uppercase; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; position: relative; }
.btn-link:hover { color: #fb730f; text-decoration: none; }

/*-----------------------------------
    4. General / Elements 
-----------------------------------*/

/*----------------------- 
    4.1 Section space :
-------------------------*/

/*Note: Section space help to create top bottom space;*/

.space-small { padding-top: 0px; padding-bottom: 0px; }
.space-medium { padding-top: 45px; padding-bottom: 0; }
.space-large { padding-top: 120px; padding-bottom: 120px; }
.space-ex-large { padding-top: 140px; padding-bottom: 140px; }
.content { padding-top: 30px; padding-bottom: 40px; }

/*----------------------
   4.2 Margin Space
-----------------------*/
.ml30 { margin-left: 30px; }
.mb0 { margin-bottom: 0px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb60 { margin-bottom: 60px; }
.mb80 { margin-bottom: 80px; }
.mb100 { margin-bottom: 100px; }
.mb130 { margin-bottom: 130px; }
.mt0 { margin-top: 0px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt60 { margin-top: 60px; }
.mt70 { margin-top: 70px; }
.mt80 { margin-top: 80px; }
.mt100 { margin-top: 100px; }

/*----- less margin space from top --*/
.mt-20 { margin-top: -20px; }
.mt-40 { margin-top: -40px; }
.mt-60 { margin-top: -60px; }
.mt-80 { margin-top: -80px; }

/*-----------------------
   4.3 Padding space
-------------------------*/
.nopadding { padding: 0px; }
.nopr { padding-right: 0px; }
.nopl { padding-left: 0px; }
.productlist {
    height: 346px;;
    overflow: auto;
    overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
.index-text, .index-event-location {
    font-size: 13px;
}
.index-event-title {
    font-size: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 .image-event{
     padding: 10px;
 }
/* Handle */
::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666; 
}
/*--------------------------------
4.4 Background & Block color 
----------------------------------*/
.bg-light { background-color: #f8f9fa; }
.bg-primary { background-color: #1aa644; color: #fff; }
.bg-default { background-color: #e2e7eb; color: #555; }
.bg-white { background-color: #fff; }
.outline { }
.section-title { margin-bottom: 40px; text-align: center; }
.title { color: #1c1e1e; }
.small-title { margin-bottom: 10px; font-size: 12px; font-weight: 900; color: #ec1010; text-transform: uppercase; letter-spacing: 1px; display: inline-block; }
.text-white { color: #555; }
.text-default { color: #0cafe5; }
.text-primary { color: #676b6e; }
.text-green { color: #43cf22; }
.text-black { color: #1c1e1e; }
.text-secondary { color: #848687; }
.primary-sidebar { }
.secondary-sidebar { }
.well-block { background-color: #fff; padding: 40px; margin-bottom: 30px; }
.divider-line { border-bottom: 1px solid #e8ecf0; margin-top: 30px; margin-bottom: 30px; }

/*--------------------------------
4.5 Features Block 
----------------------------------*/
.features-section { }
.feature { text-align: center;  }
.feature-list { border-bottom: 1px solid #e8ecf0; }
.feature-list ul { }
.feature-list ul li { }
.feature-icon { }
.feature-content { }
.feature-inner { }
.feature-outline { }

/*--- Feature left  class ---*/
.feature-left { margin-bottom: 20px; border-bottom: 1px solid #f4f7f9; }
.feature-left:last-child { margin-bottom: 0px; border-bottom: transparent; }
.feature-left .feature-icon { float: left; padding-top: 16px; }
.feature-left .feature-content { padding-top: 8px; padding-left: 70px; padding-bottom: 20px; }
.feature-outline-icon { float: left; padding-top: 9px; display: inline-block; width: 50px; height: 50px; border: 1px solid #fff; border-radius: 100%; padding-left: 16px; font-size: 18px; margin-top: 13px; }

/*--- Feature center class ---*/
.feature-center { }
.feature-center .feature-icon { }
.feature-center .feature-icon.feature-circle:hover { }
.feature-center .feature-icon.feature-circle { }
.feature-center .feature-content { }

/*--- Feature list class ---*/
.feature-list { }
.feature-list ul { }
.feature-list ul li { }
.feature-list li:before { }

/*--------------------------------
4.6 Bullet/arrow
----------------------------------*/
.arrow { position: relative; }
.arrow li { padding-left: 14px; line-height: 30px; font-size: 14px; }
.arrow li:before { font-family: "FontAwesome"; display: inline-block; position: absolute; left: 0; font-size: 16px; color: #8e9091; content: '\f105'; }

/*--------------------------------
4.7 Call to actions 
----------------------------------*/
.cta-block { }
.cta-icon { }
.cta-content { }
.cta-line { }
.cta-title { }
.widget-cta { }
.widget-cta-block { }
.widget-cta-content { }
.widget-cta-icon { }
.widget-testimonial { }
.widget-testi-content { }
. .widget-cta-text { }
.widget-cta-title { }

/*--------------------------------
 4.8 Image Hover Effect 
----------------------------------*/
/*img { width: auto; max-width: 100%; height: auto; margin: 0; padding: 0; border: none; line-height: normal; vertical-align: middle; }*/
.imghover { display: block; position: relative; max-width: 100%; }
.imghover::before, .imghover::after { display: block; position: absolute; content: ""; text-align: center; opacity: 0; }
.imghover::before { top: 0; right: 0; bottom: 0; left: 0; }
.imghover::after { top: 55%; left: 50%; padding: 10px; line-height: 10px; margin: -25px 0 0 -25px; content: "\f0fe"; font-family: "FontAwesome"; font-size: 30px; }
.imghover:hover::before, .imghover:hover::after { opacity: 1; }
.imghover:hover::before { background: rgba(12, 175, 229, .60); }
.imghover:hover::after { color: #fff; }

/*--------------------------------
4.9 Icon 
----------------------------------*/

/*--------------------------------
5 Header / Navigations 
----------------------------------*/

/*--------------------
    5.1 Header Regular 
----------------------*/

.header-wrapper { padding-top: 10px; padding-bottom: 10px; z-index: 9; position: relative; background-color: #fff; }
.logo { margin-top: 6px; }
.top-header { background-color: #e9edf0; }
.top-header ul { }
.top-header ul li { float: left; padding: 0px 22px; font-size: 12px; font-weight: 700; color: #848687; }
.top-text { font-size: 12px; font-weight: 700; color: #848687; margin-bottom: 0px; line-height: 30px; }
.search-bg { position: relative; top: 8px; }
.search-bg .form-control { height: 40px; }
.search-bg button { background: transparent; border: transparent; color: #c4c9cc; position: absolute; right: 0px; padding: 5px 18px; bottom: 0; }
.account-section { line-height: 53px; }
.account-section ul { padding-left: 20px; }
.account-section ul li { float: left; }
.account-section ul li a {font-size: 13px; color: #000; padding: 0px 8px;}
.account-section ul li a:hover { color: #01579B; }
.cart-quantity { background-color: #fb730f; padding: 4px 6px; color: #fff; border-radius: 2px; line-height: 1; display: inline-block; }

/*--------------------------
    5.2 Navigations Regular
 ----------------------------*/
.navigation { background-color: #fff; position: relative; z-index: 9999; top: 20px; border-bottom: 1px solid #eee; border-top: 1px solid #eee; }
#navigation { float: left; }
#navigation, #navigation ul, #navigation ul li, #navigation ul li a, #navigation #menu-button { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#navigation:after, #navigation>ul:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
#navigation #menu-button { display: none; }
#navigation { font-family: 'Roboto Condensed', sans-serif; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }
#navigation>ul>li { float: left; }
#navigation.align-center>ul { font-size: 0; text-align: center; }
#navigation.align-center>ul>li { display: inline-block; float: none; }
#navigation.align-center ul ul { text-align: left; }
#navigation.align-right>ul>li { float: right; }
#navigation>ul>li>a { padding: 12px 21px; font-size: 13px; color: #000; text-decoration: none;   }
#navigation>ul>li:hover>a { color: #fff; background-color: #55acef; }
#navigation>ul>li.has-sub>a { padding-right: 52px; }
/*#navigation>ul>li>a:after {
   position: absolute;
   top: 16px;
   right: -3px;
   height: 2px;
   display: block;
   content: '/';
}*/
#navigation>ul>li.has-sub>a:before { position: absolute; right: 32px; font-family: FontAwesome; content: "\f107"; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }

/*#navigation > ul > li.has-sub:hover > a:before {top: 23px; height: 0; }*/
#navigation ul ul { position: absolute; left: -9999px; margin: -1px; }
#navigation.align-right ul ul { text-align: right; }
#navigation ul ul li { top: 0px; height: 0; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
#navigation li:hover>ul { left: auto; }
#navigation.align-right li:hover>ul { left: auto; right: 0; }
#navigation li:hover>ul>li { height: 33px; }
#navigation ul ul ul { margin-left: 100%; top: 0; }
#navigation.align-right ul ul ul { margin-left: 0; margin-right: 100%; }
#navigation ul ul li a { background-color: #0796c5; padding: 10px; width: 216px; font-size: 12px; text-decoration: none; color: #fff; border-bottom: #068bb7 1px solid; margin-left: 1px; }
#navigation ul ul li:first-child>a { border-top-right-radius: 0%; }
#navigation ul ul li:last-child>a { border-bottom-right-radius: 0%px; border-bottom-left-radius: 0%px; }
#navigation ul ul li:last-child>a, #navigation ul ul li.last-item>a { border-bottom: none; }
#navigation ul ul li:hover>a, #navigation ul ul li a:hover { color: #fff; background-color: #1075c2; }
#navigation ul ul li.has-sub>a:after { position: absolute; top: 16px; right: 11px; width: 8px; height: 2px; display: block; background: #dddddd; content: ''; }
#navigation.align-right ul ul li.has-sub>a:after { right: auto; left: 11px; }
#navigation ul ul li.has-sub>a:before { position: absolute; top: 13px; right: 14px; display: block; width: 2px; height: 8px; background: #dddddd; content: ''; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
#navigation.align-right ul ul li.has-sub>a:before { right: auto; left: 14px; }
#navigation ul ul>li.has-sub:hover>a:before { top: 17px; height: 0; }
#navigation.small-screen { width: 100%; }
#navigation.small-screen ul { width: 100%; display: none; }
#navigation.small-screen.align-center>ul { text-align: left; }
#navigation.small-screen ul li { width: 100%; border-top: 1px solid #08a2d5; top: auto; background-color: transparent; }
#navigation.small-screen ul ul li, #navigation.small-screen li:hover>ul>li { height: auto; }
#navigation.small-screen ul li a, #navigation.small-screen ul ul li a { width: 100%; border-bottom: 0; padding: 20px 15px; color: #fff; }
#navigation.small-screen>ul>li>a:after { position: absolute; top: 16px; right: -3px; height: 2px; display: block; content: ''; }
#navigation.small-screen>ul>li { float: none; }
#navigation.small-screen ul ul li a { padding-left: 25px; }
#navigation.small-screen ul ul ul li a { padding-left: 35px; }
#navigation.small-screen ul ul li a { color: #fff; background: transparent; margin: 0px; }
#navigation.small-screen ul ul li:hover>a, #navigation.small-screen ul ul li.active>a { color: #fff; background-color: #068bb7; }
#navigation.small-screen ul ul, #navigation.small-screen ul ul ul, #navigation.small-screen.align-right ul ul { position: relative; left: 0; width: 100%; margin: 0; text-align: left; }
#navigation.small-screen>ul>li.has-sub>a:after, #navigation.small-screen>ul>li.has-sub>a:before, #navigation.small-screen ul ul>li.has-sub>a:after, #navigation.small-screen ul ul>li.has-sub>a:before { display: none; }
#navigation.small-screen #menu-button { display: block; padding: 18px 3px; color: #fff; cursor: pointer; font-size: 14px; text-transform: uppercase; font-weight: 600;    /* background-color: #252d3a; */    /* margin-top: 10px; */ }
#navigation.small-screen #menu-button:after { position: absolute; top: 18px; right: 2px; display: block; height: 12px; width: 20px; border-top: 2px solid #fff; border-bottom: 2px solid #fff; content: ''; }
#navigation.small-screen #menu-button:before { position: absolute; top: 23px; right: 2px; display: block; height: 2px; width: 20px; background: #fff; content: ''; }
#navigation.small-screen #menu-button.menu-opened:after { top: 20px; border: 0; height: 2px; width: 10px; background: #fff; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
#navigation.small-screen #menu-button.menu-opened:before { top: 20px; background: #fff; width: 10px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
#navigation.small-screen .submenu-button { position: absolute; z-index: 99; right: 0; top: 0; display: block; border-left: 1px solid #08a2d5; height: 54px; width: 53px; cursor: pointer; }
#navigation.small-screen .submenu-button.submenu-opened { }
#navigation.small-screen ul ul .submenu-button { height: 34px; width: 34px; }
#navigation.small-screen .submenu-button:after { position: absolute; top: 25px; right: 20px; width: 8px; height: 2px; display: block; background: #fff; content: ''; }
#navigation.small-screen ul ul .submenu-button:after { top: 15px; right: 13px; }
#navigation.small-screen .submenu-button.submenu-opened:after { background:; }
#navigation.small-screen .submenu-button:before { position: absolute; top: 22px; right: 23px; display: block; width: 2px; height: 8px; background: #fff; content: ''; }
#navigation.small-screen ul ul .submenu-button:before { top: 12px; right: 16px; }
#navigation.small-screen .submenu-button.submenu-opened:before { display: none; }
#navigation.small-screen.select-list { padding: 5px; }
#navigation.small-screen>ul>li>a { border-left: transparent; margin: 0; border-right: transparent; }
#navigation.small-screen>ul>li:hover>a { border-left: transparent; border-right: transparent; background-color: #068bb7; }

/*----------------------------------------------
    5.4 Page Header
----------------------------------------------*/
.page-header { padding: 0px; margin: 0px; border: 0px; }
.page-caption { }
.page-title { }
.page-breadcrumb { color: #a1a8ab; float: right; }
.page-breadcrumb .breadcrumb { background-color: transparent; margin-bottom: 0px; font-size: 12px; font-weight: 700; border: none; letter-spacing: 0.5px; text-transform: uppercase; color: #a1a8ab; padding: 16px 0px 0px 0px; }
.breadcrumb>li+li:before { padding: 0 8px; color: #a1a8ab; content: "/"; font-family: 'FontAwesome' }
.breadcrumb>li>a { color: #fb730f; }

/*-----------------------------------
    6. Slider 
-------------------------------------*/
.slider { margin-bottom: -40px; }
.slider-img { position: relative; width: 100%; height: 520px; }
.slider-img img { position: relative; z-index: -1; }
.slider-captions { position: absolute; bottom: 90px; width: 100%; color: #1c1e1e; text-align: left; border-radius: 2px; }
.slider-title { color: #1c1e1e; font-size: 34px; font-weight: 400; line-height: 45px; text-transform: capitalize; margin-bottom: 10px; }
.slider-price { font-size: 34px; margin-bottom: 5px; }
.slider .owl-theme .owl-nav { line-height: 1; text-align: center; -webkit-tap-highlight-color: transparent; }
.slider .owl-theme .owl-nav .owl-prev { position: absolute; top: 43%; left: 0px; color: #1c1e1e; font-size: 40px; margin: 12px; padding: 0px; background: transparent; display: inline-block; cursor: pointer; border-radius: 2px; height: 0px; width: 0px; }
.slider .owl-theme .owl-nav .owl-next { position: absolute; top: 43%; right: 18px; color: #1c1e1e; font-size: 40px; margin: 12px; padding: 0px; background: transparent; display: inline-block; cursor: pointer; border-radius: 2px; height: 0px; width: 0px; }
.slider .owl-theme .owl-nav .owl-prev:hover { background-color: transparent; text-decoration: none; color: #fb730f; }
.slider .owl-theme .owl-nav .owl-next:hover { background-color: transparent; text-decoration: none; color: #fb730f; }
.slider .owl-theme .owl-dots { display: none; }
.slider .owl-theme .owl-carousel .owl-item img { width: 100%; }
.brand-img { height: 40px; width: 40px; margin-bottom: 15px; }

/*-----------------------------------
7. Footer 
-------------------------------------*/
.footer { background-color: #fff; padding-top: 50px; color: #848687; font-weight: 400; margin-top: 20px;}
.footer-title { margin-bottom: 32px; color: #1c1e1e; letter-spacing: 0px; font-size: 18px; font-weight: 400; }
.footer-widget { margin-bottom: 60px; }
.footer-widget ul { margin-bottom: 25px; }
.footer-widget ul li { line-height: 1.4; margin-bottom: 10px; }
.footer-widget ul li a { font-size: 14px; color: #000; letter-spacing: 0px; font-weight: 400; line-height: 0; }
.footer-widget ul li a:hover { color: #0cafe5; }
.contact-info { margin-bottom: 12px; font-size: 14px; }
.contact-icon { width: 28px; float: left; color: #0cafe5; }
.contact-text { font-weight: 400; display: table-cell; }
.btn-twitter { background: #00aced; color: #fff; }
.btn-twitter:hover, .btn-twitter:active { background: #0084b4; color: #fff; }
.btn-facebook { background: #3B5997; color: #fff; }
.btn-facebook:hover, .btn-facebook:active { background: #2d4372; color: #fff; }
.btn-googleplus { background: #D64937; color: #fff; }
.btn-googleplus { background: #D64937; color: #fff; }
.btn-googleplus:hover, .btn-googleplus:active { background: #b53525; color: #fff; }
.btn-instagram { background: radial-gradient(circle at 33% 100%, #FED373 2%, #F15245 20%, #D92E7F 42%, #9B36B7 65%, #515ECF); color: #fff; }
.btn-instagram:hover, .btn-instagram:active { background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF); color: #fff; }
.btn-pinterest { background-color: #c8232c; color: #fff; }
.btn-pinterest:hover, .btn-pinterest:active { background-color: #b0171f; color: #fff; }
.btn-linkedin { background: #0074A1; color: #fff; }
.btn-linkedin:hover, .btn-linkedin:active { background: #006288; color: #fff; }
.ft-social { }
.btn-social { -webkit-font-smoothing: antialiased; font-size: 16px; padding: 12px 12px; margin-right: 2px; border-radius: 100%; display: inline-block; width: 38px; height: 38px; line-height: 1; }

/*-------------- tiny footer ------------*/
.tiny-footer { background-color: #edf0f2; font-size: 14px; }
.tiny-footer p { margin-top: 10px; }
.payment-method { margin-top: 10px; }
.payment-method ul { }
.payment-method ul li { float: left; margin-right: 5px; }
.payment-method ul li a { color: #82878a; }
.payment-method ul li a:hover { color: #fb730f; }

/*--- easetemplate copyright link --*/
.copyrightlink { color: #fb730f; }
.copyrightlink:hover { color: #fb730f; }

/*-------------- tiny footer ------------*/

/*--- easetemplate copyright link --*/

/*-----------------------------------
9. Pages 
-------------------------------------*/

/*-------------------------
 9.1 Product List 
---------------------------*/
.pd-0 { padding-left: 0; padding-right: 0; }
.showcase-block { margin-bottom: 15px; min-height: 265px; background-color: #e8eaec; padding: 30px 30px 0px 30px; text-align: center; }
.showcase-img { padding-top: 18px; }
/*.display-logo { margin-bottom: 30px; }*/
.showcase-block:hover { background-color: #fff; -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); }
.showcase-block.active { background-color: #fff; -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); }
.product-block { border: 1px solid #f3f5f7; text-align: center; background-color: #fff; }
.product-img { padding: 10px; min-height: 180px; line-height: 160px; }
.shop-logo { padding: 5px; min-height: 150px; line-height: 150px; position: absolute; top: 110px; left: 22px; background: #fff;}
.product-content { border-top: 1px solid #f3f5f7; padding: 10px; }
.product-title { color: #848687; font-size: 13px; }
.product-content h5 { margin-bottom: 5px; }
.product-meta { margin-bottom: 10px; }
.product-price { margin-bottom: 0px; font-size: 18px; color: #337ab7; display: inline-block; margin-right: 5px; }
.discounted-price { text-decoration: line-through; font-size: 14px; font-weight: 700; color: #a6a7a8; display: inline-block; margin-right: 5px; }
.product-btn { width: 35px; height: 35px; border-radius: 100%; line-height: 1.2; padding: 10px 7px; display: inline-block; font-size: 15px; }
.btn-like {  background-color: #fb730f; color: #fff; }
.btn-cart { background-color: #0cafe5; color: #fff;  }
.btn-like:hover {  background-color: #ed6908; color: #fff; }
.btn-cart:hover { background-color: #0e9bc9; color: #fff;}
.product-block:hover { background-color: #fff; -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); cursor: pointer; border: 1px solid #e6eaed; }
.product-block:active { background-color: #fff; -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10); cursor: pointer; border: 1px solid #e6eaed; }
.product-carousel .owl-carousel .owl-item img { width: inherit; display: inline-block; }
.product-carousel .owl-theme .owl-nav { line-height: 1; text-align: center; -webkit-tap-highlight-color: transparent; }
.product-carousel .owl-theme .owl-nav .owl-prev { position: absolute; top: 40%; left: -60px; color: #a9acae; font-size: 60px; margin: 12px; padding: 0px; background: transparent; display: inline-block; cursor: pointer; border-radius: 2px; height: 0px; width: 0px; }
.product-carousel .owl-theme .owl-nav .owl-next { position: absolute; top: 40%; right: -32px; color: #a9acae; font-size: 60px; margin: 12px; padding: 0px; background: transparent; display: inline-block; cursor: pointer; border-radius: 2px; height: 0px; width: 0px; }
.product-carousel .owl-theme .owl-nav .owl-prev:hover { background-color: transparent; text-decoration: none; color: #fb730f; }
.product-carousel .owl-theme .owl-nav .owl-next:hover { background-color: transparent; text-decoration: none; color: #fb730f; }
.product-block strong { color: #848687; }
.newsletter-wrapper { background: url(../images/cta_wrapper.jpg) no-repeat; min-height: 220px; margin-bottom: 30px; position: relative; }
.newsletter-form { position: absolute; top: 45px; }
.newsletter-form .form-control { background-color: #fff; height: 58px; position: relative; border:transparent; }
.newsletter-form button { }
.newsletter-form button.btn { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.newsletter-title { margin-top: 5px font-size:30px; }

/*-------------------------
 9.2 Product Single
---------------------------*/
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a { margin: 0; padding: 0; border: 0; list-style: none; font-weight: normal; text-decoration: none; line-height: 1; font-family: 'Lato', sans-serif; font-size: 14px; position: relative; }
#cssmenu a { line-height: 1.3; padding: 10px 28px; }
#cssmenu { margin-bottom: 30px; }
#cssmenu>ul>li { cursor: pointer; background: #fff; border-bottom: 1px solid #e8eaec; }
#cssmenu>ul>li:last-child { border-bottom: 1px solid #fff; }
#cssmenu>ul>li>a { font-size: 13px; display: block; color: #1c1e1e; background: #fff; font-weight: 400; }
#cssmenu>ul>li>a:hover { text-decoration: none; color: #ff3c2e; }
#cssmenu>ul>li.active { border-bottom: none; }
#cssmenu>ul>li.active>a { background: #fff; border-bottom: #e8eaec 2px solid; color: #1c1e1e; }
#cssmenu>ul>li.has-sub>a:after { content: '\f067'; position: absolute; top: 12px; right: 14px; font-family: 'FontAwesome'; font-size: 12px; color: #848687; }
#cssmenu>ul>li.has-sub.active>a:after { content: '\f068'; position: absolute; right: 14px; top: 18px; font-family: 'FontAwesome'; color: #848687; font-size: 12px; }
.ec {
    padding: 1px;
}
.card {
    border: 0;
}
.card-c {
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}

/* Sub menu */
#cssmenu ul ul { padding: 0; display: none; margin-top: 15px; }
#cssmenu ul ul a { background: #fff; display: block; color: #848687; font-size: 14px; text-transform: capitalize; font-weight: 700; padding: 6px 0px; }
#cssmenu ul ul a:hover { color: #ff3c2e; }
#cssmenu ul ul li { border-bottom: 0px; padding-left: 30px; font-size: 14px; font-weight: 700; padding-bottom: 10px; }
.checkbox-list { display: inline-block; padding-left: 5px; position: relative; bottom: 2px; }
#cssmenu ul ul li:last-child { border: none; }
.thumb-img img { border: 2px solid #c8cbcf; height: 50px; width: 50px; margin-bottom: 10px; padding: 2px; }
.thumb-img img:hover { border: 2px solid #fb730f; }

.product-single h2 { margin-bottom: 0px; }
.quantity .qty { width: 67px; text-align: center; height: 45px; }
.qty { padding: 5px; }
.input-text { padding: .6180469716em; border: 1px solid #c8cbcf; background-color: #fff; color: #43454b; outline: 0; -webkit-appearance: none; box-sizing: border-box; font-weight: 400; }
.product-social { float: none; margin-bottom: 20px; }
.product-social a span { font-size: 20px; padding-right: 16px; color: #9b9b9b; }
.product-social a span:hover { color: #f25b6a; }
.product-tag { text-transform: lowercase; }
.product-tag-title { text-transform: uppercase; padding-right: 10px; }
.product-rating { margin-bottom: 15px; font-size: 13px; color: #ffc700; }
.product-single strike { font-size: 24px; color: #1c1e1e; }
.product-small-title { border-bottom: 2px solid #e8ecf0; padding-bottom: 10px; margin-bottom: 20px; }
.highlights { margin-bottom: 40px; }
.highlights ul li { color: #848687; }
.rating-review { text-align: center; }
.rating-review h1 { margin-bottom: 0px; font-size: 40px; }
.star-rate { bottom: 32px; left: 80px; }
.rating-review h2 { margin-bottom: 20px; font-size: 40px; }
.reviews-text { position: absolute; bottom: 50px; left: 130px; font-size: 14px; display: inline-block; font-weight: 700; }
.customer-reviews .product-rating { font-size: 18px; position: relative; }
.review-form .form-control { background-color: #f4f7f9; margin-bottom: 30px; }
.scroll-nav a { margin-right: 20px; padding-bottom: 22px }
.scroll-nav a:hover { border-bottom: 1px solid #fb730f; color: #fb730f; }
.scroll-nav a.active { border-bottom: 1px solid #fb730f; color: #fb730f; }

/*-------------------------
 9.3 About us
---------------------------*/
.counter-block { text-align: center; }
.counter-icon { border: 2px solid #19b3e6; display: inline-block; width: 100px; height: 100px; border-radius: 100%;    /* line-height: 5.2; */ padding: 25px; margin-bottom: 30px; }
.counter-content { text-align: center; }
.counter-text { font-size: 32px; margin-bottom: 8px; }

.box-head { background-color: #ffffff; border-bottom: 1px solid #f3f5f7; margin-bottom: 20px; }
.head-title { padding: 5px 10px; margin-bottom: 0px; }
.box-body {padding: 15px;}
.box-body2 {
    padding: 15px;
    background: #fff;
}
.price {
    padding: 5px 10px;
    color: #fff;
    background: #f96464;
    font-weight: 700;
    float: right;
}
.text-gray {
    color: #777;
}
.shop-image {
    margin-bottom: 80px;
}
/*-------------------------
 9.8 Contact us
---------------------------*/
.contact-form { }
.contact-form .form-control { background-color: #f4f7f9; }
.contact-block { border-bottom: 1px solid #e8ecf0; padding-bottom: 20px; margin-bottom: 20px; }
.contact-block:last-child { border-bottom: transparent; margin-bottom: 0px; }
.support-block { }
.support-icon { display: block; float: left; width: 90px; margin-bottom: 10px; }
.support-content { }
#contact-map { width: 100%; height: 350px; }

/*--------------------------------
9.9. Sign up Form
----------------------------------*/
.sing-form .form-control { background-color: #f4f7f9; }

/*--------------------------------
Login Form 
----------------------------------*/
.login-input { position: relative; margin-bottom: -21px; }
.login-input .form-control { padding-left: 35px; }
.login-icon { display: inline-block; position: relative; bottom: 32px; left: 18px;}
.btn-social-rectangle, .btn-facebook .btn-twitter .btn-googleplus { font-size: 14px; margin-right: 6px; display: inline-block; line-height: 1.2; padding: 14px 16px; margin-bottom: 10px; border-radius: 3px; }
.social-text { font-size: 14px; text-transform: uppercase; padding-left: 6px; letter-spacing: 1px; }

/*------------------------
10. Blog pages
--------------------------*/
Class----------------

/*---------- masonary gallery --------*/

.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.isotope, .isotope .isotope-item { / change duration value to whatever you like /
-webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; transition-property: height, width; }
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; transition-property: transform, opacity; }

/*----- post-----*/
.post-holder { margin-bottom: 30px; background-color: #fff; padding: 30px; }
.post-block { margin-bottom: 30px; background-color: #fff; padding: 30px; }
.post-title { margin-bottom: 8px; }
.post-head { }
.post-block h2 { }
.post-img img { margin-bottom: 20px; width: 100%; }
.post-content { }
.post-btn { position: relative; }
.social-icon { position: absolute; right: 0; bottom: 0px; }
.social-icon .btn-social { -webkit-font-smoothing: antialiased; font-size: 12px; padding: 8px 9px; margin-right: 2px; border-radius: 100%; display: inline-block; width: 28px; height: 28px; line-height: 1; }
.post-holder .social-icon { position: inherit; }

/*----- meta -----*/
.meta { margin-bottom: 24px; padding-right: 3px; font-weight: 400; line-height: 1.2; text-transform: uppercase; font-size: 13px; }
.meta-icon { }
.meta-title { color: #848687; }
.meta-categories { color: #848687; }
.meta-admin, .meta-comments { margin-right: 8px; }
.meta-admin, .meta-comments, .meta-date { color: #848687; }
.meta-date, .meta-author { margin-right: 10px; }
.meta-link { color: #27303e; }
.meta-link:hover { color: #8efdae }

/*----- pagination -----*/
.related-post-block { margin-bottom: 30px; background-color: #fff; padding: 30px; }
.related-title { font-weight: 700; margin-bottom: 5px; }
.related-post-title { padding: 16px 30px; margin-bottom: 0px; font-size: 22px; }
.related-post { }
.related-post .meta { margin-bottom: 0px; }
.related-head { background-color: #fff; border-bottom: 1px solid #e8ecf0; }
.related-img img { margin-bottom: 20px; }
.related-post-content { }

/*----- prev-next-----*/
.post-navigation { margin-bottom: 30px; background-color: #fff; padding: 30px; }
.nav-links { text-decoration: none; }
.nav-previous { }
.prev-link { color: #8b8e90; font-size: 14px; letter-spacing: 2px; text-transform: uppercase; font-weight: 400; display: inline-block; margin-bottom: 16px; }
.next-link { color: #8b8e90; font-size: 14px; letter-spacing: 2px; text-transform: uppercase; font-weight: 400; margin-bottom: 16px; display: inline-block; }
.nav-next { }
.previous-next-title { margin-bottom: 5px; }


/*----- Comments -----*/
.comment-area { margin-bottom: 30px; background-color: #fff; }
.comment-head { background-color: #fff; border-bottom: 1px solid #e8ecf0; }
.comment-heading { padding: 16px 30px; margin-bottom: 0px; }
.comment-title { margin-bottom: 5px; font-size: 18px; }
.comment-list { padding: 30px  30px 0px; }
.childern .comment-content:last-child { border-bottom: transparent; }
.comment-link { color: #fb730f; }
.comment-author img { float: left; }
.comment-info { padding-left: 90px; }
.comment-meta-date { color: #afb2b3; font-size: 12px; font-weight: 400; letter-spacing: 1px; text-transform: uppercase; display: inline-block; }
.comment-content { margin-bottom: 14px; font-size: 16px; border-bottom: 1px solid #e8ecf0; padding-bottom: 20px; }
.comment-content p { margin-bottom: 10px; }
.childern { background-color: transparent; padding-left: 80px; margin-top: 50px; }

/*----- leave-Comments -----*/
.leave-comments { }
.leave-comments-head { background-color: #fff; border-bottom: 1px solid #e8ecf0; }
.leave-comments-title { padding: 16px 30px; margin-bottom: 0px; }
.leave-comments-body { padding: 30px; background-color: #fff; }
.leave-comments .form-control { background-color: #f4f7f9; }

/*------------------------
 12. Sidebar / Widgets
--------------------------*/

/*----- widget -----*/
.widget { margin-bottom: 30px; border-radius: 0px; background-color: #fff; }
.widget-head { background-color: #fff; border-bottom: 1px solid #e8ecf0; }
.widget-title { color: #27303e; font-size: 22px; font-weight: 400; margin-bottom: 0px; text-transform: capitalize; padding: 14px 30px; }
.widget-body { padding: 22px 30px; }
.widget-categories { }
.widget-categories ul li { position: relative; margin-bottom: 8px; }
.widget-categories ul li a { font-size: 16px; font-weight: 400; color: #8e9091; display: block; text-transform: capitalize; }
.widget-categories ul li a:hover { color: #fb730f; }
.widget-archives { }
.widget-archives ul li { position: relative; margin-bottom: 8px; }
.widget-archives ul li a { font-size: 16px; font-weight: 400; color: #8e9091; display: block; text-transform: capitalize; }
.widget-archives ul li a:hover { color: #fb730f; }
.recent-post { margin-bottom: 20px; }
.recent-post .meta { }
.recent-pic img { width: 100%; }
.recent-title { line-height: 22px; font-size: 16px; }
.widget-tags { }
.widget-tags a { color: #fff; padding: 6px 18px; background-color: #9fa3a7; display: inline-block; margin-bottom: 5px; border-radius: 3px; font-size: 12px; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; line-height: 20px; margin-right: 5px; border: 0px; }
.widget-tags a:hover { background-color: #fb730f; color: #fff; border: 0px; }
.widget-search { }
.widget-search button { background-color: transparent; border: transparent; color: #c3cacc; font-size: 12px; position: absolute; right: 0px; padding: 9px 13px; bottom: 0; }
.widget-search .form-control { height: 49px; margin-bottom: 0px; background-color: #f4f7f9; }
.search-form { position: relative; }
.select-option .form-control { border-bottom: 2px solid #e4eaed; border-top-color: transparent; border-left-color: transparent; border-right-color: transparent; background-color: transparent; padding: 0px; }

/*-------------Template-features-------------*/
.key-features { margin-bottom: 30px; }
.key-features-title { font-size: 14px; font-weight: 700; text-transform: uppercase; display: inline-block; border-bottom: 1px solid #e0e6e3; margin-bottom: 12px; padding-bottom: 4px; line-height: 1; }
.key-features p { font-size: 14px; }

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width:1440px) { }
}
@media only screen and (max-width:1200px) { }

/* Medium Devices, Desktops */
@media only screen and (max-width:1024px) {
.search-bg { top: 5px; }
.account-section { line-height: 2; }
.content { padding-bottom: 30px; padding-top: 30px; }
#navigation>ul>li>a { padding: 20px 31px; }
}

/* Small Devices, Tablets */
@media only screen and (max-width:768px) {
.search-bg { top: 5px; }
.account-section { line-height: 1.8; }
.content { padding-bottom: 30px; padding-top: 30px; }
.slider-captions { bottom: 45px; }
.slider-img { height: inherit; }
.slider .owl-theme .owl-nav .owl-next { top: 34%; }
.slider .owl-theme .owl-nav .owl-prev { top: 34%; }
.cta-img { display: none; }
.newsletter { position: initial; margin-bottom: 20px; }
.newsletter button { position: absolute; bottom: 19px; right: 13px; }
.reviews-text { bottom: 76px; }
.support-icon { float: initial; }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width:480px) {
.top-header ul li { float: left; padding: 0px 14px; }
.account-section ul li { float: right;        /* margin-top: -130px; */ position: relative; bottom: 95px; }
.account-section { line-height: 0; }
.navigation { top: 0px; }
.header-wrapper { padding-top: 10px; padding-bottom: 0px; }
.content { padding-top: 30px; padding-bottom: 30px; }
.slider-captions { bottom: 36px; }
.slider-title { font-size: 22px; margin-bottom: -8px; }
.brand-img { height: 20px; width: 20px; margin-bottom: 0px; }
.slider-price { font-size: 18px; }
.slider .owl-nav { display: none; }
.slider-img { height: inherit; }
.product-carousel .owl-nav { display: none; }
.newsletter-wrapper { background: none; }
.footer-widget { margin-bottom: 20px; }
.footer-title { margin-bottom: 15px; }
.reviews-text { position: initial; }
.table-responsive { border: transparent; }
.childern { padding-left: 0px; }
.support-icon { float: initial; }
.scroll-nav .head-title { padding: 22px 106px 22px 30px; }
.scroll-nav a.active { border-bottom: 1px solid #fb730f; padding-bottom: 2px; color: #fb730f; }
.scroll-nav a { padding-bottom: 2px; }
}

/* Custom, iPhone Retina */
@media only screen and (max-width:320px) {
.top-header ul li { float: left; padding: 0px 14px; }
.account-section ul li { float: right;        /* margin-top: -130px; */ position: relative; bottom: 95px; }
.account-section { line-height: 0; }
.navigation { top: 0px; }
.header-wrapper { padding-top: 10px; padding-bottom: 0px; }
.content { padding-top: 30px; padding-bottom: 30px; }
.slider-captions { bottom: 36px; }
.slider-title { font-size: 22px; margin-bottom: -8px; }
.brand-img { height: 20px; width: 20px; margin-bottom: 0px; }
.slider-price { font-size: 18px; }
.slider .owl-nav { display: none; }
.slider-img { height: inherit; }
.product-carousel .owl-nav { display: none; }
.newsletter-wrapper { background: none; }
.footer-widget { margin-bottom: 20px; }
.footer-title { margin-bottom: 15px; }
.reviews-text { position: initial; }
.feature { border-right: transparent; padding-right: 0px; padding-left: 0px; }
.table-responsive { border: transparent; }
.childern { padding-left: 0px; }
.support-icon { float: initial; }
.scroll-nav .head-title { padding: 22px 106px 22px 30px; }
.scroll-nav a.active { border-bottom: 1px solid #fb730f; padding-bottom: 2px; color: #fb730f; }
.scroll-nav a { padding-bottom: 2px; }
}

.categories {
  background: #fff;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
   margin-right: -15px;
   margin-bottom: -15px;
  margin-bottom: 15px;
}


/** media queries **/
@media (max-width:991px) {
.timeline li .timeline-panel { width: 44%; }
}
@media (max-width:700px) {
.page-header h1 { font-size: 1.8em; }
ul.timeline:before { left: 40px; }
.tldate { width: 140px; }
ul.timeline li .timeline-panel { width: calc(100% - 90px); width: -moz-calc(100% - 90px); width: -webkit-calc(100% - 90px); }
ul.timeline li .tl-circ { top: 22px; left: 22px; margin-left: 0; }
ul.timeline > li > .tldate { margin: 0; }
ul.timeline > li > .timeline-panel { float: right; }
ul.timeline > li > .timeline-panel:before { border-left-width: 0; border-right-width: 15px; left: -15px; right: auto; }
ul.timeline > li > .timeline-panel:after { border-left-width: 0; border-right-width: 14px; left: -14px; right: auto; }
}
.pagination {
	margin-bottom: 30px;
  }

.pagination .active >span {
	background: #fff;
	padding: 5px 11px;
}

.pagination > li > span{
  border: 1px solid #e7e7e7;
	padding: 5px 11px;
	background: #f7f7f7;
	margin: 2px;
}
.pagination > li > a{
    border: 1px solid #d7d7d7;
    padding: 5px 11px;
    background: #d7d7d7;
	color: #666;
	margin: 2px;
}